@import "tailwindcss";
@plugin "daisyui";


body {
  min-height: 100vh;
  background: linear-gradient(135deg, #f5e6ff 0%, #e6f0ff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
} 