@import "tailwindcss";
@plugin "daisyui";

body {
	background: linear-gradient(hsla(0, 0%, 100%, 0.1), rgba(255, 255, 255, 0.05)), url("/bg.avif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

